<head>
  <title>Inicia sesión - FPT</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">

</head>
<body>
  <div class="login" style="background-image: url(images/FondoMatch1.png);">
          <p *ngIf="loginError">Contraseña o usuario incorrecto</p>
      <div class="wrap-login p-l-110 p-r-110 p-t-62 p-b-33" >
          <form action="/login" method="POST">
              <label>User Name:</label><input #userName type="text" name="username" /><br />
              <label>Password:</label><input #pass type="password" name="password" /><br />
              <input type="submit" (click)="logIn($event, userName.value, pass.value)" value="Sign In"><br />
          </form>
          <div class="forgotten-password" style="text-align: center;">
              <span class="txt2">
              No tengo cuenta
              </span>
              <a [routerLink]="['/previousSignUp']" class="txt2 bo1">
              Registrarme
              </a>
          </div>

          </div>
  </div>
</body>
