    
    <div class="site-section">
      <div class="row">
        <div class="container col-md-4"></div>
        <div class="container col-md-4 form">
          <h1>Regístrese</h1>
          <form action="" method="POST">
            <h2>Informacion personal</h2>
              <div class="form-group">
                <label for="userName">Nombre:</label>
                <input #ownerName type="text" class="form-control" name="ownerName">
              </div>
              <div class="form-group">
                <label for="surname">Apellidos:</label>
                <input #ownerSurname type="text" class="form-control" name="ownerSurname">
              </div>
              <label for="email">Correo electronico:</label>
              <input #email type="email" class="form-control" name="email" placeholder="ejemplo@gmail.com">
            <div class="form-group">
              <div class="form-group">
                <label for="userName">Nombre de usuario:</label>
                <input #username type="text" class="form-control" name="username">
              </div>
              <label for="pwd">Contraseña:</label>
              <input #password type="password" class="form-control" name="password" placeholder="contraseña">
            </div>
            <div class="form-group">
              <label for="confirm-pwd">Comfirme la contraseña:</label>
              <input #passwordconfirm type="password" class="form-control" id="userConfirm" placeholder="confirme contraseña">
            </div>
            <h2>Informacion de su empresa</h2>
            <div class="form-group">
              <label for="bussinessName">Nombre:</label>
              <input #bussinessName type="text" class="form-control" name="bussinessName">
            </div>
            <div class="form-group">
              <label for="userLocation">Localidad:</label>
              <input #city type="text" class="form-control" name="city">
            </div>
            <div class="form-group">
              <label for="adress">Direccion:</label>
              <input #address type="text" class="form-control" name="adress">
            </div>
            <label for="userProvince">Provincia:</label>
            <select #location class="form-control" name="location">
              <option>Coruña (La Coruña)</option>
                <option>Álava</option>
                <option>Albacete</option>
                <option>Alicante</option>
                <option>Almería</option>
                <option>Asturias</option>
                <option>Ávila</option>
                <option>Badajoz</option>
                <option>Baleares</option>
                <option>Barcelona</option>
                <option>Burgos</option>
                <option>Cáceres</option>
                <option>Cádiz</option>
                <option>Cantabria</option>
                <option>Castellón</option>
                <option>Ciudad Real</option>
                <option>Córdoba</option>
                <option>Cuenca</option>
                <option>Girona</option>
                <option>Granada</option>
                <option>Guadalajara</option>
                <option>Gipuzkoa</option>
                <option>Huelva</option>
                <option>Huesca</option>
                <option>Jaén</option>
                <option>La Rioja</option>
                <option>Las Palmas</option>
                <option>León</option>
                <option>Lérida</option>
                <option>Lugo</option>
                <option>Madrid</option>
                <option>Málaga</option>
                <option>Murcia</option>
                <option>Navarra</option>
                <option>Ourense</option>
                <option>Palencia</option>
                <option>Pontevedra</option>
                <option>Salamanca</option>
                <option>Segovia</option>
                <option>Sevilla</option>
                <option>Soria</option>
                <option>Tarragona</option>
                <option>Santa Cruz de Tenerife</option>
                <option>Teruel</option>
                <option>Toledo</option>
                <option>Valencia</option>
                <option>Valladolid</option>
                <option>Vizcaya</option>
                <option>Zamora</option>
                <option>Zaragoza</option>
          </select>
            <br>
            <label for="bussinessType">Tipo de negocio:</label>
            <select #bussinessType class="form-control" name="bussinessType">
                <option>Escuela de padel</option>
                <option>Centro deportivo</option>
                <option>Tienda de material deportivo</option>
                <option>Otro</option>
            </select>
            <br>
            <button type="submit" (click)="signUpBussiness(password.value,username.value,bussinessName.value,ownerName.value,ownerSurname.value,location.value,city.value,email.value,address.value,bussinessType.value)"class="btn btn-default">Enviar</button>
            <!--<input type="hidden" name="_csrf" value="{{token}}"/>-->
          </form>
        </div>
        <div class="container col-md-4"></div>
      </div>
    </div>
  
