<!DOCTYPE html>
<html lang="en">
  {{>header}}
  
    <div class="site-blocks-cover overlay" style="background-image: url(images/fondoDivisiones.png);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">Conócenos</h1>
            <p class="mt-4">Estudiantes de la universidad URJC que comenzaron realizando dicha web como práctica y que se ha convertido en un proyecto de futuro.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="images/FondoMatch1.png" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pl-md-5">
            <h2 class="text-black">Sobre Friends Padel Tour</h2>
            <p class="lead">Somos un grupo pequeño de estudiantes de la rama de Ingeniería del Software que está desarrollando una página web relacionada con el deporte, concretamente el pádel.</p>
            <p class="lead">Nuestro principal objetivo es intentar conseguir agradar al usuario y facilitarle la tarea de buscar rivales para pasar un buen rato e incluso realizar torneos con los que poder competir y alcanzar un gran nivel.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" data-aos="fade-up">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <img src="images/LOGO.png" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 pr-md-5">
            <h2 class="text-black">FRIENDS PADEL TOUR</h2>
            <p class="lead">Para ello nuestro equipo ha desarrollado dicha web teniendo en cuenta las preferencias de los usuarios. Además se ha realizado un diseño muy simple que permita ser utilizado por cualquier tipo de usuario.</p>
            <p class="lead">Esperemos que les guste nuestra página web y que os sirva de gran ayuda que es el principal objetivo de este proyecto.</p>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>