<!DOCTYPE html>
<html lang="en">
  {{>header}}
  
    <div class="site-blocks-cover overlay" style="background-image: url(images/normal_user.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
            <div class="row align-items-center ">
              <div class="my-favourite-couple col-lg-12">
                <div class="container-button">
                  <!--<div class="center-button">
                    <button class="searchcouple">JUAN LEBRON</button>
                  </div> -->
                </div>
                    <div class="info-couple col-md-12">
                      <p><h2>PADEL ARROYOMOLINOS</h2> <br> FUNDACIÓN: XX/XX/XXXX <br> Localizacion: C/ Alberto Sacristán Pol. Ind. 13 Leganés </p>
                      <div class="timetable">
                        <H3>Horario apertura</H3>
                        <table class="table">
                            <tr>
                              <th class="time-table-th">L</th>
                              <th class="time-table-th">M</th>
                              <th class="time-table-th">X</th>
                              <th class="time-table-th">J</th>
                              <th class="time-table-th">V</th>
                              <th class="time-table-th">S</th>
                              <th class="time-table-th">D</th>
                            </tr>
                            <tr>
                              <td>8:00-14:00</td>
                              <td>8:00-14:00</td>
                              <td>8:00-14:00</td>
                              <td>8:00-14:00</td>
                              <td>8:00-14:00</td>
                              <td>8:00-14:00</td>
                              <td>8:00-14:00</td>
                            </tr>
                            <tr>
                              <td>16:00-22:00</td>
                              <td>16:00-22:00</td>
                              <td>16:00-22:00</td>
                              <td>16:00-22:00</td>
                              <td>16:00-22:00</td>
                              <td>16:00-22:00</td>
                              <td>16:00-22:00</td>
                            </tr>
                            
                          </table>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="l-grid"> 
      <div class="c-ranking-header c-ranking-header--no-image c-ranking-header--table"> 
        <div class="l-container l-container--data"> 
          <div class="c-ranking-header__data-box-company"> 
            <p class="c-ranking-header__data-title">TORNEOS ORGANIZADOS</p>
            <p class="c-ranking-header__data">100</p> 
          </div> 
          <div class="c-ranking-header__data-box-company"> 
            <p class="c-ranking-header__data-title">MEJORES JUGADORES</p> 
            <p class="c-ranking-header__data"></p> 
            <div>
                <img class="image-players" src="images/usuariopareja.jpg">
                <img class="image-players" src="images/usuariopareja.jpg">
                <img class="image-players" src="images/usuariopareja.jpg">
                <img class="image-players" src="images/usuariopareja.jpg">
            </div>
          </div> 
        </div> 
      </div>
    </div>




    
    <div class="recent-matches">
      <h1>TORNEOS RECIENTES</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 tournaments">
          <div class="row bg-white align-items-center match-entry tournament-company">
    
            <div class="tournament_definition" id="tournament_name"><p>NOMBRE DEL TORNEO</p></div>
            <div >
              <div class="tournament_definition" id="tournament_inscription"><p><img class="tournament_icon" src="images/inscripcion.png"> 17/4/2021 - 17/5/2021</p></div>
              <div class="tournament_definition" id="tournament_date"><p><img class="tournament_icon" src="images/reloj.png"> 17/6/2021 - 17/7/2021</p></div>
            </div>
            <div >
              <div class="tournament_definition" id="tournament_category"><p><img class="tournament_icon" src="images/categoria.png"> ORO</p></div>
              <div class="tournament_definition" id="tournament_reward"><p><img class="tournament_icon" src="images/oro.png"> 200€        <img class="tournament_icon" src="images/plata.png"> 50€</p></div>
            </div>
            
            <button class="tournament_definition" id="tournament_button"><span>VER RESULTADO</span></button>
            <div>
                <p>GANADORES</p>
                <img class="image-players" src="images/usuariopareja.jpg">
                <img class="image-players" src="images/usuariopareja.jpg">
            </div>
          </div>

          
          <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry tournament-company">
    
            <div class="tournament_definition" id="tournament_name"><p>NOMBRE DEL TORNEO</p></div>
            <div >
              <div class="tournament_definition" id="tournament_inscription"><p><img class="tournament_icon" src="images/inscripcion.png"> 17/4/2021 - 17/5/2021</p></div>
              <div class="tournament_definition" id="tournament_date"><p><img class="tournament_icon" src="images/reloj.png"> 17/6/2021 - 17/7/2021</p></div>
            </div>
            <div >
              <div class="tournament_definition" id="tournament_category"><p><img class="tournament_icon" src="images/categoria.png"> ORO</p></div>
              <div class="tournament_definition" id="tournament_reward"><p><img class="tournament_icon" src="images/oro.png"> 200€        <img class="tournament_icon" src="images/plata.png"> 50€</p></div>
            </div>
            
            <button class="tournament_definition" id="tournament_button"><span>VER RESULTADO</span></button>
            <div>
                <p>GANADORES</p>
                <img class="image-players" src="images/usuariopareja.jpg">
                <img class="image-players" src="images/usuariopareja.jpg">
            </div>
          </div>


          <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry tournament-company">
    
            <div class="tournament_definition" id="tournament_name"><p>NOMBRE DEL TORNEO</p></div>
            <div >
              <div class="tournament_definition" id="tournament_inscription"><p><img class="tournament_icon" src="images/inscripcion.png"> 17/4/2021 - 17/5/2021</p></div>
              <div class="tournament_definition" id="tournament_date"><p><img class="tournament_icon" src="images/reloj.png"> 17/6/2021 - 17/7/2021</p></div>
            </div>
            <div >
              <div class="tournament_definition" id="tournament_category"><p><img class="tournament_icon" src="images/categoria.png"> ORO</p></div>
              <div class="tournament_definition" id="tournament_reward"><p><img class="tournament_icon" src="images/oro.png"> 200€        <img class="tournament_icon" src="images/plata.png"> 50€</p></div>
            </div>
            
            <button class="tournament_definition" id="tournament_button"><span>VER RESULTADO</span></button>
            <div>
                <p>GANADORES</p>
                <img class="image-players" src="images/usuariopareja.jpg">
                <img class="image-players" src="images/usuariopareja.jpg">
            </div>
          </div>


          <div class="container">
            <div class="text-md-center">
              <br>
              <h1>Edita tus datos</h1>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 bg-white">
                <div class="form-group">
                  <h3>Contraseña:</h3>
                  <input type="text" class="form-control" id="pwd" placeholder="Contraseña del usuario">
                </div>
                <h3>Imagen de perfil:</h3>
                <input type="file" name="profilePicture">
                <h3>Horario apertura</h3>
                <table class="table">
                    <tr>
                      <th class="time-table-th">L</th>
                      <th class="time-table-th">M</th>
                      <th class="time-table-th">X</th>
                      <th class="time-table-th">J</th>
                      <th class="time-table-th">V</th>
                      <th class="time-table-th">S</th>
                      <th class="time-table-th">D</th>
                    </tr>
                    <tr>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                    </tr>
                    <tr>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                      <td><input type="text" placeholder="8:00-14:00"></td>
                    </tr>
                  </table>
                <button type="submit" class="btn btn-default">Aceptar</button>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>      


    <br>
   

    

   {{>footer}}
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>