<!DOCTYPE html>
<html lang="en">
  {{>header}}
    

    <!--Carrusel de imagenes-->
    <div class="slide-one-item home-slider owl-carousel">
      <div class="site-blocks-cover overlay" style="background-image: url(images/hero_bg1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-start">
            <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
              <h1 class="bg-text-line">Conoce gente con la que jugar partidos amistosos.</h1>
              <p><a href="/friendlyMatch" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Leer Más</a></p>
            </div>
          </div>
        </div>
      </div>  
      <div class="site-blocks-cover overlay" style="background-image: url(images/hero_bg2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-start">
            <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
              <h1 class="bg-text-line">Echa un vistazo a nuestros torneos.</h1>
              <p><a href="/tournaments" class="btn btn-primary btn-sm rounded-0 py-3 px-5">Leer Más</a></p>
            </div>
          </div>
        </div>
      </div>  
      <div class="site-blocks-cover overlay" style="background-image: url(images/hero_bg3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-start">
            <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
              <h1 class="bg-text-line">Estate al tanto de los últimas novedades del ranking.</h1>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!--Seccion de ultimos partidos jugados-->
    <div class="site-blocks-vs site-section bg-light">
      <div class="container">
        <div class="bg-image overlay-success rounded mb-5" style="background-image: url('images/header_bckgrnd.jpg');" data-stellar-background-ratio="0.5">
          <div class="row mb-5">
            <div class="col-md-12 text-center">
              <h1 class="text-black">RANKINGS DE LAS DIVISIONES</h1>
            </div>
          </div>
        </div>
        <!--Cabecera de la tabla de ultimos partidos-->
        
          <div class="tab">
            <button class="tablinks" onclick="openDivision(event, 'Division1')" id="defaultOpen">1ª Division</button>
            <button class="tablinks" onclick="openDivision(event, 'Division2')">2ª Division</button>
            <button class="tablinks" onclick="openDivision(event, 'Division3')">3ª Division</button>
            <button class="tablinks" onclick="openDivision(event, 'Division4')">4ª Division</button>
            <button class="tablinks" onclick="openDivision(event, 'Division5')">5ª Division</button>
            <button class="tablinks" onclick="openDivision(event, 'Division6')">6ª Division</button>
          </div>
          
          <div id="Division1" class="tabcontent">
            <table>
              <tr>
                <th>Top Ranking</th>
                <th>Jugador</th>
                <th>Puntuación total</th>
                <th>Comunidad Autónoma</th>
                <th>Perfil jugador</th>
              </tr>
              <tr>
                <td>1</td>
                <td>hey</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles<a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td style="color: #000;"><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
            </table> 
          </div>
          
          <div id="Division2" class="tabcontent">
            <table>
              <tr>
                <th>Top Ranking</th>
                <th>Jugador</th>
                <th>Puntuación total</th>
                <th>Comunidad Autónoma</th>
                <th>Perfil jugador</th>
              </tr>
              <tr>
                <td>1</td>
                <td>hey</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles<a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td style="color: #000;"><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
            </table> 
          </div>
          
          <div id="Division3" class="tabcontent">
            <table>
              <tr>
                <th>Top Ranking</th>
                <th>Jugador</th>
                <th>Puntuación total</th>
                <th>Comunidad Autónoma</th>
                <th>Perfil jugador</th>
              </tr>
              <tr>
                <td>1</td>
                <td>hey</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles<a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td style="color: #000;"><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
            </table> 
          </div>

          <div id="Division4" class="tabcontent">
            <table>
              <tr>
                <th>Top Ranking</th>
                <th>Jugador</th>
                <th>Puntuación total</th>
                <th>Comunidad Autónoma</th>
                <th>Perfil jugador</th>
              </tr>
              <tr>
                <td>1</td>
                <td>hey</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles<a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td style="color: #000;"><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Germany</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
            </table> 
          </div>

          <div id="Division5" class="tabcontent">
            <table>
              <tr>
                <th>Top Ranking</th>
                <th>Jugador</th>
                <th>Puntuación total</th>
                <th>Comunidad Autónoma</th>
                <th>Perfil jugador</th>
              </tr>
              <tr>
                <td>1</td>
                <td>hey</td>
                <td>225</td>
                <td>Castilla y León</td>
                <td><a href= "userProfile.html">Ver perfiles<a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jordi Alba</td>
                <td>225</td>
                <td>Andalucia</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Alfredo Escalera</td>
                <td>225</td>
                <td>Andalucia</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Enrique García</td>
                <td>225</td>
                <td>Galicia</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Cantabria</td>
                <td style="color: #000;"><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>José Antonio</td>
                <td>225</td>
                <td>Navarra</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
            </table> 
          </div>

          <div id="Division6" class="tabcontent">
            <table>
              <tr>
                <th>Top Ranking</th>
                <th>Jugador</th>
                <th>Puntuación total</th>
                <th>Comunidad Autónoma</th>
                <th>Perfil jugador</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Pedro Figueras</td>
                <td>225</td>
                <td>Madrid</td>
                <td><a href= "userProfile.html">Ver perfiles<a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Alejando Pereira</td>
                <td>225</td>
                <td>Albacete</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Alfreds Futterkiste</td>
                <td>225</td>
                <td>Guadalajara</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Juan Lebron</td>
                <td>225</td>
                <td>Madrid</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Antonio Fernandez</td>
                <td>225</td>
                <td>Cuenca</td>
                <td style="color: #000;"><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Alberto Gallego</td>
                <td>225</td>
                <td>La Rioja</td>
                <td><a href= "userProfile.html">Ver perfiles</a></td>
              </tr>
            </table> 
          </div>
      </div>
    </div>             
        
    {{>footer}}
  </div>

  <script>
    function openDivision(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
    </script>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>