<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registrate - FPT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-logo">
          <a href="#"><img src="images/WPT_logo.jpg" alt="Image"></a>
        </div>
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar absolute transparent" role="banner">
      <div class="py-3">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-6 col-md-3">
              <!--Menu de enlaces a redes sociales del banner superior-->
              <a href="#" class="text-secondary px-2 pl-0"><span class="icon-facebook"></span></a>
              <a href="#" class="text-secondary px-2"><span class="icon-instagram"></span></a>
              <a href="#" class="text-secondary px-2"><span class="icon-twitter"></span></a>
              <a href="#" class="text-secondary px-2"><span class="icon-linkedin"></span></a>
            </div>
            <div class="col-6 col-md-9 text-right">
              <div class="d-inline-block"><a href="#" class="text-secondary p-2 d-flex align-items-center"><span class="icon-envelope mr-3"></span> <span class="d-none d-md-block">friendspadeltour@domain.com</span></a></div>
              <div class="d-inline-block"><a href="#" class="text-secondary p-2 d-flex align-items-center"><span class="icon-phone mr-0 mr-md-3"></span> <span class="d-none d-md-block">+34 123 456 789</span></a></div>
            </div>
          </div>
        </div>
      </div>

      <!--Barra de navegacion en ordenador-->
      <nav class="site-navigation position-relative text-right bg-black text-md-center" role="navigation">
        <div class="container position-relative">
          <div class="site-logo">
            <a href="Index.html"><img src="images/LOGO.png" alt="" width="190" height="100"></a>
          </div>

          <div class="d-inline-block d-md-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li><a href="Index.html">INICIO</a></li>
            <li class="has-children">
              <a href="friendlyMatch.html">DIVISIONES Y AMISTOSOS</a>
              <ul class="dropdown arrow-top">
                <li><a href="team.html">1ª División</a></li>
                <li><a href="team.html">2ª División</a></li>
                <li><a href="team.html">3ª División</a></li>
                <li><a href="team.html">4ª División</a></li>
                <li><a href="team.html">5ª División</a></li>
                <li><a href="team.html">6ª División</a></li>
              </ul>
            </li>
            <li><a href="tournaments.html">Torneos</a></li>
            <li><a href="AboutUs.html">Conócenos</a></li>
            <li><a href="userProfile.html">Tu Perfil</a></li>
          </ul>
        </div>
      </nav>
    </header>
  
    <br><br><br>
    <div class="site-section feature-blocks-1 margin-top">
      <div class="row mb-5 margin-top">
        <div class="col-md-12 text-center">
          <h1 class="text-red" style="background-color:#013660;">SELECCIONA EL TIPO DE USUARIO QUE SERAS</h1>
          <br><br><br>
        </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 " data-aos="fade" data-aos-delay="100">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('images/padel_court.jpg');">
              <div class="text">
                <h2 class="h5 text-white text-center">EMPRESA</h2>
                <p>Organiza torneos y date visibilidad ante jugadores de distintos niveles.</p>
                <p class="mb-0"><a href="/bussinesSignUpForm" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Continuar como empresa</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 " data-aos="fade" data-aos-delay="200">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('images/normal_user.jpg');">
              <div class="text">
                <h2 class="h5 text-white text-center">JUGADOR</h2>
                <p>Juega amistosos con otros jugadores de tu nivel, participa en tonreos, conoce gente...</p>
                <p class="mb-0"><a href="/playerSignUpForm" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Continuar como jugador</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>