<!DOCTYPE html>
<html lang="en">
  {{>header}}
  
    <div class="site-blocks-cover overlay" style="background-image: url(images/PADEL.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">Torneos</h1>
            <p class="mt-4">¡Únete a los torneos de nuestra organización! </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section" style="background-color: rgb(224, 198, 198);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 tournament_head">
            {{#bussiness}}
            <a href="/tournamentRequest"><button class="searchcouple" id="addTournament" ><span>AÑADIR TORNEO</span></button></a>
            {{/bussiness}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 tournaments">

            {{#tournaments}}
            <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry tournament">
      
              <div class="tournament_definition" id="tournament_name"><a href="/tournamentInfo/{{id}}">{{name}}</a></div>
              <div >
                <div class="tournament_definition" id="tournament_inscription"><p><img class="tournament_icon" src="images/inscripcion.png"> {{inscriptionStartDate}} - {{inscriptionFinishDate}}</p></div>
                <div class="tournament_definition" id="tournament_date"><p><img class="tournament_icon" src="images/reloj.png"> {{tournamentStartDate}} - {{tournamentFinishDate}}</p></div>
              </div>
              <div >
                <div class="tournament_definition" id="tournament_couple"><p><img class="tournament_icon" src="images/personas.png"> {{registeredCouples}}/{{maxCouples}}</p></div>
                <div class="tournament_definition" id="tournament_category"><p><img class="tournament_icon" src="images/categoria.png"> {{category}}</p></div>
                <div class="tournament_definition" id="tournament_reward"><p><img class="tournament_icon" src="images/oro.png">{{firstPrize}}<img class="tournament_icon" src="images/plata.png">{{secondPrize}}</p></div>
              </div>
              {{#logged}}
              {{# user }}
                {{^isFull}}
                  <a href="#popup" class="tournament_definition" id="tournament_button"><span>UNIRSE</span></a>

                  <div id="popup" class="overlay-formulario">
                    <div id="popup-Body">
                      <h2 style="background-color: rgb(252, 186, 186);">Elija una pareja</h2><br>
                      <a id="cerrarPestana" href="#">&times;</a>
                      <div class="popupContent">
                        <form action="/joinTournament/{{id}}" method="POST">
                          <label for="lprov" style="font-size: 25px;"><b>Pareja: <br></b><select name="doubleSelect" required>
                            {{#userDoubles}}
                                <option>{{username}}</option>
                            {{/userDoubles}}
                          </select></label><br>
                          <input type="submit" value="Aceptar">
                          <input type="hidden" name="_csrf" value="{{token}}"/>
                        </form>
                      </div>
                    </div>
                  </div>
                {{/isFull }}
                
              {{/ user }}
              {{/ logged }}
            </div>
            {{/tournaments}}   
            {{^tournaments}}
              <p>No hay ningún torneo disponible</p>
            {{/tournaments}}       
        </div>
      </div>
    </div>


<h3 style="margin-left: 10px; margin-right: 10px;">Estos son todos los torneos que han sido creados hasta día de hoy. Están incluidos los finalizados, los pendientes del visto bueno por el administrador y los ya aceptados.</h3 >

    <p id="pageSize" style="display: none;">3</p>
   
    <div class="row">
      <div class="col-md-12 tournaments">
<div class="eventContainer">
        
        <ul>
            {{#tournamentspage}}
              <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry tournament">
      
                <div class="tournament_definition" id="tournament_name"><a href="/tournamentInfo/{{id}}">{{name}}</a></div>
                <div >
                  <div class="tournament_definition" id="tournament_inscription"><p><img class="tournament_icon" src="images/inscripcion.png"> {{inscriptionStartDate}} - {{inscriptionFinishDate}}</p></div>
                  <div class="tournament_definition" id="tournament_date"><p><img class="tournament_icon" src="images/reloj.png"> {{tournamentStartDate}} - {{tournamentFinishDate}}</p></div>
                </div>
                <div >
                  <div class="tournament_definition" id="tournament_couple"><p><img class="tournament_icon" src="images/personas.png"> {{registeredCouples}}/{{maxCouples}}</p></div>
                  <div class="tournament_definition" id="tournament_category"><p><img class="tournament_icon" src="images/categoria.png"> {{category}}</p></div>
                  <div class="tournament_definition" id="tournament_reward"><p><img class="tournament_icon" src="images/oro.png">{{firstPrize}}<img class="tournament_icon" src="images/plata.png">{{secondPrize}}</p></div>
                </div>
                {{#logged}}
                {{# user }}
                  {{^isFull}}
  
                    <div id="popup" class="overlay-formulario">
                      <div id="popup-Body">
                        <h2 style="background-color: rgb(252, 186, 186);">Elija una pareja</h2><br>
                        <a id="cerrarPestana" href="#">&times;</a>
                        <div class="popupContent">
                          <form action="/joinTournament/{{id}}" method="POST">
                            <label for="lprov" style="font-size: 25px;"><b>Pareja: <br></b><select name="doubleSelect" required>
                              {{#userDoubles}}
                                  <option>{{username}}</option>
                              {{/userDoubles}}
                            </select></label><br>
                            <input type="submit" value="Aceptar">
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                          </form>
                        </div>
                      </div>
                    </div>
                  {{/isFull }}
                  
                {{/ user }}
                {{/ logged }}
              </div>
            {{/tournamentspage}}
        </ul>     
    </div>
    </div>
   
</div>
<button onclick="pagefunction()" class="searchcouple" style="margin-left: 20px;">Ver más</button>


    
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script >
        function pagefunction(){
            var elemento = document.getElementById("pageSize");
            elemento.innerHTML = parseInt(elemento.innerHTML) + 2
            $( ".eventContainer" ).load("https://localhost:8443/tournaments?pageSize="+elemento.innerHTML+" .eventContainer" );
            
        };
    </script>

    {{>footer}}
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

  
  </body>