<!DOCTYPE html>
<html lang="es">
  {{>header}}
  
    <div class="site-blocks-cover overlay" style="background-image: url(images/header_bckgrnd.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-12  text-center text-md-center" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">EMPIEZA A ORGANIZAR TU PROPIO TORNEO</h1>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="container col-md-6 form">
            <form action="/create/tournament/{{id}}" method="GET">
              <div class="form-section">
                <h1>Datos del torneo</h1>
                <div class="form-group">
                  <label for="tournamentName">Nombre del torneo:</label>
                  <input type="text" class="form-control" id="tournamentName" size="50">
                  <label for="description">Descripción del torneo:</label>
                  <br>
                  <textarea name="description" rows="5" cols="50"></textarea>
                  <div class="row align-items-center">
                    <div class="col-md-3">
                      <label for="winerPrize">Premio ganador:</label>
                      <input class="form-control" type="number" name="winerPrize" min="0"></p>
                    </div>
                    <div class="col-md-3">
                      <label for="finalistPrize">Premio ganador:</label>
                      <input class="form-control" type="number" name="finalistPrize" min="0"></p>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <div class="form-group">
                <div class="form-section">
                  <br>
                  <h1>Datos participantes</h1>
                  <div class="row">
                      <div class="col-md-4">
                        <p>Numero mínimo de parejas que participan:<br> 
                        <input class="form-control" type="number" name="minParticipants" min="1" width="40">
                        </p>
                      </div>
                      <div class="col-md-4">
                        <p>Numero máximo de parejas que participan:<br> 
                        <input class="form-control" type="number" name="maxParticipants" min="minParticipants" width="40">
                        </p>
                      </div>
                    <div class="col-md-4"></div>
                  </div>
                <label for="tournamentCategories">Nivel/es del torneo:</label>
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <div class="checkbox">
                        <label><input type="checkbox" value="">1ª División</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">2ª División</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">3ª División</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="checkbox">
                        <label><input type="checkbox" value="">4ª División</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">5ª División</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">6ª División</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-section">
                <br>
                <h1>Datos de la localización</h1>
                <p>Nombre de la instalación deportiva:<br> <input class="form-control" type="text" name="locationName" size="40"></p>
                <p>Linea de dirección 1:<br> <input class="form-control" type="text" name="adress1" size="40"></p>
                <p>Linea de dirección 2:<br> <input class="form-control" type="text" name="adress2" size="40"></p>
                <p>Localidad:<br> <input class="form-control" type="text" name="city"></p>
                <p>Provincia:<br>
                  <select name="province">
                    <option>Coruña (La Coruña)</option>
                    <option>Álava</option>
                    <option>Albacete
                    <option>Alicante</option>
                    <option>Almería</option>
                    <option>Asturias</option>
                    <option>Ávila</option>
                    <option>Badajoz</option>
                    <option>Baleares</option>
                    <option>Barcelona</option>
                    <option>Burgos</option>
                    <option>Cáceres</option>
                    <option>Cádiz</option>
                    <option>Cantabria</option>
                    <option>Castellón</option>
                    <option>Ciudad Real</option>
                    <option>Córdoba</option>
                    <option>Cuenca</option>
                    <option>Girona</option>
                    <option>Granada</option>
                    <option>Guadalajara</option>
                    <option>Gipuzkoa</option>
                    <option>Huelva</option>
                    <option>Huesca</option>
                    <option>Jaén</option>
                    <option>La Rioja</option>
                    <option>Las Palmas</option>
                    <option>León</option>
                    <option>Lérida</option>
                    <option>Lugo</option>
                    <option>Madrid</option>
                    <option>Málaga</option>
                    <option>Murcia</option>
                    <option>Navarra</option>
                    <option>Ourense</option>
                    <option>Palencia</option>
                    <option>Pontevedra</option>
                    <option>Salamanca</option>
                    <option>Segovia</option>
                    <option>Sevilla</option>
                    <option>Soria</option>
                    <option>Tarragona</option>
                    <option>Santa Cruz de Tenerife</option>
                    <option>Teruel</option>
                    <option>Toledo</option>
                    <option>Valencia</option>
                    <option>Valladolid</option>
                    <option>Vizcaya</option>
                    <option>Zamora</option>
                    <option>Zaragoza</option>
                  </select>
                </p>
                <p>Codigo postal:<br> <input class="form-control" type="number" name="postCode"></p>
                <br>
              </div>
              <br>
              <h1>Fechas</h1>
              <div class="row align-items-center">
                <div class="col-md-4">
                  <p>Inicio de inscripción:<br> <input class="form-control" type="date" name="inscriptionStartDate"></p>
                  <p>Inicio del torneo:<br> <input class="form-control" type="date" name="tournamentStartDate"></p>
                </div>
                <div class="col-md-4">
                  <p>Fin de inscripción:<br> <input class="form-control" type="date" name="inscriptionEndDate"></p>
                  <p>Fin del torneo: <br><input class="form-control" type="date" name="tournamentEndDate"></p>
                </div>
                <div class="col-md-4"></div>
              </div>
              <br>
                <div class="row">
                  <div class="col-md-6">
                    <input class="form-control" type="submit" value="Enviar">
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type="reset" value="Borrar todo">
                  </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  

    {{>footer}}
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>