<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<html lang="en">
  {{>header}}
    <div class="site-blocks-cover overlay" style="background-image: url(/images/normal_user.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
            <div class="row align-items-center ">

              <div class="col-md-6" >
                <h3 class="bg-text-line">Nombre: {{loggedUser.name}} {{loggedUser.surname}}<br> Nombre de usuario: {{loggedUser.username}} <br> Categoria: {{loggedUser.division}} <br></h3>
                <div class="image-player">
                  {{# loggedUser.hasImage }}
                    <img class="image-main" src="/user/{{loggedUser.id}}/image">
                  {{/ loggedUser.hasImage }}
                  {{^ loggedUser.hasImage }}
                    <img class="image-main" src="/images/usuariopareja.jpg">
                  {{/ loggedUser.hasImage }}
                </div>
                {{#logged}}
                  {{#UserExtern}}
                  <div class="container-button">
                    <div class="center-button">
                      <a class="center-button" href="/makeDoubleWhith/{{loggedUser.username}}">Invitar a ser pareja</a>
                    </div>
                  </div>
                  {{/UserExtern}}
                {{/logged}}
              </div>
              {{# principalDouble }}
                <div class="my-favourite-couple col-md-6">
                  <h2 class="actual-couple">PAREJA ACTUAL</h2>
                  <div class="container-button">
                    <div class="center-button">
                      <a href="/users/{{username}}" class="searchcouple">{{principalDouble.username}}</a>
                    </div>
                  </div>
                      <div class="info-couple col-md-12">
                        <br> Categoria: {{principalDouble.division}} </p>
                        {{#principalDouble.hasImage}}
                          <img class="couple-image" src="/user/{{principalDouble.id}}/image"> 
                        {{/principalDouble.hasImage}}
                        {{^ principalDouble.hasImage }}
                          <img class="image-main" src="/images/usuariopareja.jpg">
                        {{/ principalDouble.hasImage }}
                      </div>
                      <div class="dropdown-couples">
                        <span>Otras parejas</span>
                        <div class="dropdown-content">
                          {{# userDoubles }}
                            <a href="/users/{{username}}" class="searchcouple">{{username}}</a>
                          {{/ userDoubles }}
                        </div>
                      </div>
                </div>
              {{/ principalDouble }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="l-grid"> 
      <div class="c-ranking-header c-ranking-header--no-image c-ranking-header--table"> 
        <div class="l-container l-container--data"> 
          <div class="c-ranking-header__data-box"> 
            <p class="c-ranking-header__data-title">Partidos jugados</p>
            <p class="c-ranking-header__data" id="matches_Played">{{loggedUser.mathesPlayed}}</p> 
          </div> 
          <div class="c-ranking-header__data-box"> 
            <p class="c-ranking-header__data-title">Partidos ganados</p> 
            <p class="c-ranking-header__data" id="matches_Won">{{loggedUser.mathcesWon}}</p> 
          </div> 
          <div class="c-ranking-header__data-box"> 
            <p class="c-ranking-header__data-title">Partidos perdidos</p> 
            <p class="c-ranking-header__data" id="matches_Lost">{{loggedUser.matchesLost}}</p> 
          </div> 
          <div class="c-ranking-header__data-box"> 
            <p class="c-ranking-header__data-title">Efectividad</p> 
            <p class="c-ranking-header__data"> {{efectivity}} %</p> 
          </div> 
        </div> 
      </div>
     </div>
 
     {{#hasplayedmatches}}

      <div class="row">
      <canvas id="myChart" width="400" height="300"></canvas>
      <script>
        var matchesPlayed = document.getElementById('matches_Played').innerHTML;
        var matchesWon = document.getElementById('matches_Won').innerHTML;
        var matchesLost = document.getElementById('matches_Lost').innerHTML;     
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ['JUGADOS', 'GANADOS', 'PERDIDOS'],
              datasets: [{
                  label: 'GRAFICA PARTIDOS',
                  data: [matchesPlayed,matchesWon,matchesLost], //matchesPlayed, matchesWon, matchesLost],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
      </script>
      </div>

  
      <div style="width:75%;">
        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <canvas id="canvas" width="1068" height="534" class="chartjs-render-monitor" style="display: block; width: 1068px; height: 534px;"></canvas>
    </div>
<script>
  var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

  var randomScalingFactor = function() {
    return Math.round(Math.random() * 100);
  };

  var config = {
    type: 'line',
    data: {
      labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'],
      datasets: [{
        label: 'Efectividad',
        backgroundColor: 'rgba(255, 99, 132, 1)',
        borderColor: 'rgba(255, 99, 132, 1)',
        data: [
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor()
        ],
        fill: false,
      }, ]
    },
    options: {
      responsive: true,
      title: {
        display: true,
        text: 'GRAFICA EFECTIVIDAD ULTIMOS 6 MESES'
      },
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Meses'
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Porcentaje'
          },
          ticks: {
            min: 0,
            max: 100,

            stepSize: 10
          }
        }]
      }
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('canvas').getContext('2d');
    window.myLine = new Chart(ctx, config);
  };

  document.getElementById('randomizeData').addEventListener('click', function() {
    config.data.datasets.forEach(function(dataset) {
      dataset.data = dataset.data.map(function() {
        return randomScalingFactor();
      });
    });

    window.myLine.update();
  });

  var colorNames = Object.keys(window.chartColors);
  document.getElementById('addDataset').addEventListener('click', function() {
    var colorName = colorNames[config.data.datasets.length % colorNames.length];
    var newColor = window.chartColors[colorName];
    var newDataset = {
      label: 'Dataset ' + config.data.datasets.length,
      backgroundColor: newColor,
      borderColor: newColor,
      data: [],
      fill: false
    };

    for (var index = 0; index < config.data.labels.length; ++index) {
      newDataset.data.push(randomScalingFactor());
    }

    config.data.datasets.push(newDataset);
    window.myLine.update();
  });

  document.getElementById('addData').addEventListener('click', function() {
    if (config.data.datasets.length > 0) {
      var month = MONTHS[config.data.labels.length % MONTHS.length];
      config.data.labels.push(month);

      config.data.datasets.forEach(function(dataset) {
        dataset.data.push(randomScalingFactor());
      });

      window.myLine.update();
    }
  });

  document.getElementById('removeDataset').addEventListener('click', function() {
    config.data.datasets.splice(0, 1);
    window.myLine.update();
  });

  document.getElementById('removeData').addEventListener('click', function() {
    config.data.labels.splice(-1, 1); // remove the label first

    config.data.datasets.forEach(function(dataset) {
      dataset.data.pop();
    });

    window.myLine.update();
  });

</script>
{{/hasplayedmatches}}


     {{^hasplayedmatches}}
     <h1>Este usuario todavia no ha jugado ningún partido, por lo tango no hay gráficas disponibles.</h1>
     {{/hasplayedmatches}}


    <div class="recent-matches">
      <h1>PARTIDOS CREADOS</h1>
    </div>
    {{# userCreatedGames }}
      <div class="row align-items-center">
        <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry">
          <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">
            <div class="text-center text-lg-left">
              <div class="d-block d-lg-flex align-items-center">
                <div class="image image-small text-center mb-3 mb-lg-0 mr-lg-3">
                  <img src="/images/fer_sanyo.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3 class="h5 mb-0 text-black">{{double1.player1.username}}</h3>
                  <h3 class="h5 mb-0 text-black">{{double1.player2.username}}</h3>
                  <a href="/selectMatchWinner/{{loggedUser.id}}/{{-index}}/1">Elegir como ganadores del partido</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 text-center mb-4 mb-lg-0">
            <div class="d-inline-block">
              <div class="bg-black py-2 px-4 mb-2 text-white d-inline-block rounded"><a href="/delete/{{id}}">Eliminar Partido</a></div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 text-center text-lg-right">
            <div class="">
              <div class="d-block d-lg-flex align-items-center">
                <div class="image image-small ml-lg-3 mb-3 mb-lg-0 order-2">
                  <img src="/images/lima_tapia.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="text order-1 w-100">
                  <h3 class="h5 mb-0 text-black">{{double2.player1.username}}</h3>
                  <h3 class="h5 mb-0 text-black">{{double2.player2.username}}</h3>
                  <a href="/selectMatchWinner/{{loggedUser.id}}/{{-index}}/2">Elegir como ganadores del partido</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/ userCreatedGames }}

    <div class="recent-matches" >
      <h1>PARTIDOS RECIENTES</h1>
      {{# userPlayedGames }}
      <div class="row align-items-center">
        <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry">
          <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">
            <div class="text-center text-lg-left">
              <div class="d-block d-lg-flex align-items-center">
                <div class="image image-small text-center mb-3 mb-lg-0 mr-lg-3">
                  <img src="/images/fer_sanyo.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3 class="h5 mb-0 text-black">{{double1.player1.username}}</h3>
                  <h3 class="h5 mb-0 text-black">{{double1.player2.username}}</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 text-center text-lg-right">
            <div class="">
              <div class="d-block d-lg-flex align-items-center">
                <div class="image image-small ml-lg-3 mb-3 mb-lg-0 order-2">
                  <img src="/images/lima_tapia.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="text order-1 w-100">
                  <h3 class="h5 mb-0 text-black">{{double2.player1.username}}</h3>
                  <h3 class="h5 mb-0 text-black">{{double2.player2.username}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/ userPlayedGames }}
    </div>

    <div class="recent-matches" >
      <h1>PARTIDOS PENDIENTES</h1>
      {{# userPendingGames }}
      <div class="row align-items-center">
        <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry">
          <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">
            <div class="text-center text-lg-left">
              <div class="d-block d-lg-flex align-items-center">
                <div class="image image-small text-center mb-3 mb-lg-0 mr-lg-3">
                  <img src="/images/fer_sanyo.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3 class="h5 mb-0 text-black">{{double1.playe1.userName}}</h3>
                  <h3 class="h5 mb-0 text-black">{{double1.playe2.userName}}</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 text-center text-lg-right">
            <div class="">
              <div class="d-block d-lg-flex align-items-center">
                <div class="image image-small ml-lg-3 mb-3 mb-lg-0 order-2">
                  <img src="/images/lima_tapia.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="text order-1 w-100">
                  <h3 class="h5 mb-0 text-black">{{double2.playe1.username}}</h3>
                  <h3 class="h5 mb-0 text-black">{{double2.playe2.username}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/ userPendingGames }}
    </div>

      
      


      
      {{^UserExtern}}
      <div class="container">
        <div class="text-md-center">
          <br>
          <h1>Edita tus datos</h1>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 bg-white">
            <form action="/editProfile/{{loggedUser.id}}" method="GET">
              <div class="form-group">
                <h3>Contraseña:</h3>
                <input type="text" class="form-control" name="password" id="pwd" placeholder="Nueva contraseña">
              </div>
              <h3>División:</h3>
              <div class="row">
                <div class="col-md-6 center-items">
                  <div class="radio">
                    <label><input type="radio" name="division" value="0" checked="true">Mantenerse en la actual</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="division" value="1">División 1</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="division" value="2">División 2</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="division" value="3">División 3</label>
                  </div>
                </div>
                <div class="col-md-6 center-items">
                  <div class="radio">
                    <label><input type="radio" name="division" value="4">División 4</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="division" value="5">División 5</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="division" value="6">División 6</label>
                  </div>
                </div>
              </div>
              <input type="submit" class="btn btn-default" value="Aceptar">
              <input type="hidden" name="_csrf" value="{{token}}"/>
              <BR>
            </form>
            <form action="/update/{{loggedUser.id}}/image" method="POST" enctype="multipart/form-data">
              <h3>Imagen de perfil:</h3>
              <input type="file" name="profilePicture" accept=".jpg, .jpeg">
              <input type="submit" class="btn btn-default" value="Cambiar imagen">
              <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      {{/UserExtern}}

      {{>footer}}

  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>

  <script src="/js/main.js"></script>
    
  </body>
</html>