<!DOCTYPE html>
<html lang="es">
  {{>header}}

    
    <div class="site-section">
      <div class="row">
        <div class="container col-md-4"></div>
        <div class="container col-md-4 form">
          <h1>Regístrate</h1>
          <form action="/signUpPlayer" method="GET">
              <div class="form-group">
                <label for="userName">Nombre:</label>
                <input type="text" class="form-control" name="name">
              </div>
              <div class="form-group">
                <label for="userSurname">Apellidos:</label>
                <input type="text" class="form-control" name="surname">
              </div>
              <label for="userEmail">Correo electronico:</label>
              <input type="email" class="form-control" name="email" placeholder="ejemplo@gmail.com">
            <div class="form-group">
              <label for="pwd">Contraseña:</label>
              <input type="password" class="form-control" name="password" placeholder="contraseña">
            </div>
            <div class="form-group">
              <label for="confirm-pwd">Comfirme la contraseña:</label>
              <input type="password" class="form-control" name="userConfirm" placeholder="confirme contraseña">
            </div>
            <label for="location">Provincia:</label>
            <select class="form-control" name="location">
                <option>Coruña (La Coruña)</option>
                  <option>Álava</option>
                  <option>Albacete</option>
                  <option>Alicante</option>
                  <option>Almería</option>
                  <option>Asturias</option>
                  <option>Ávila</option>
                  <option>Badajoz</option>
                  <option>Baleares</option>
                  <option>Barcelona</option>
                  <option>Burgos</option>
                  <option>Cáceres</option>
                  <option>Cádiz</option>
                  <option>Cantabria</option>
                  <option>Castellón</option>
                  <option>Ciudad Real</option>
                  <option>Córdoba</option>
                  <option>Cuenca</option>
                  <option>Girona</option>
                  <option>Granada</option>
                  <option>Guadalajara</option>
                  <option>Gipuzkoa</option>
                  <option>Huelva</option>
                  <option>Huesca</option>
                  <option>Jaén</option>
                  <option>La Rioja</option>
                  <option>Las Palmas</option>
                  <option>León</option>
                  <option>Lérida</option>
                  <option>Lugo</option>
                  <option>Madrid</option>
                  <option>Málaga</option>
                  <option>Murcia</option>
                  <option>Navarra</option>
                  <option>Ourense</option>
                  <option>Palencia</option>
                  <option>Pontevedra</option>
                  <option>Salamanca</option>
                  <option>Segovia</option>
                  <option>Sevilla</option>
                  <option>Soria</option>
                  <option>Tarragona</option>
                  <option>Santa Cruz de Tenerife</option>
                  <option>Teruel</option>
                  <option>Toledo</option>
                  <option>Valencia</option>
                  <option>Valladolid</option>
                  <option>Vizcaya</option>
                  <option>Zamora</option>
                  <option>Zaragoza</option>
            </select>
            <br>
            <label for="userLevel">Seleccione la categoria que considera que tiene (1 la mejor, 6 la peor):</label>
            <div class="radio">
              <label><input type="radio" name="division" value="1">Categoria 1</label>
              <br>
              <label><input type="radio" name="division" value="2">Categoria 2</label>
              <br>
              <label><input type="radio" name="division" value="3">Categoria 3</label>
              <br>
              <label><input type="radio" name="division" value="4">Categoria 4</label>
              <br>
              <label><input type="radio" name="division" value="5">Categoria 5</label>
              <br>
              <label><input type="radio" name="division" value="6">Categoria 6</label>
              <br>
            </div>
            <p>(Podra cambiar en cualquier momento)</p>
            <br>
            <input type="submit" name="/signUpPlayer" value="Enviar">
          </form>
        </div>
        <div class="container col-md-4"></div>
      </div>
    </div>
  

  {{>footer}}  
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>