<div class="site-section feature-blocks-1 margin-top">
  <div class="row mb-5 margin-top">
    <div class="col-md-12 text-center">
      <h1 class="text-red" style="background-color:#013660;">SELECCIONA EL TIPO DE USUARIO QUE SERAS</h1>
      <br><br><br>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 " data-aos="fade" data-aos-delay="100">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/padel_court.jpg');">
          <div class="text">
            <h2 class="h5 text-white text-center">EMPRESA</h2>
            <p>Organiza torneos y date visibilidad ante jugadores de distintos niveles.</p>
            <p class="mb-0"><a href="/bussinessSignUpForm" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Continuar como empresa</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 " data-aos="fade" data-aos-delay="200">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/normal_user.jpg');">
          <div class="text">
            <h2 class="h5 text-white text-center">JUGADOR</h2>
            <p>Juega amistosos con otros jugadores de tu nivel, participa en tonreos, conoce gente...</p>
            <p class="mb-0"><a href="/playerSignUpForm" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Continuar como jugador</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
