    <head>
        <title>Friends Padel Tour</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>

    <div class="site-wrap">

      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-logo">
            <img src="assets/images/WPT_logo.jpg" alt="Image">
          </div>
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar absolute transparent" role="banner">
        <div class="py-3">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-6 col-md-3">
              </div>
              <div class="col-6 col-md-9 text-right">
                <div class="d-inline-block"><a class="text-secondary p-2 d-flex align-items-center"><span class="icon-envelope mr-3"></span> <span class="d-none d-md-block">friendspadeltour@domain.com</span></a></div>
                <div class="d-inline-block"><a class="text-secondary p-2 d-flex align-items-center"><span class="icon-phone mr-0 mr-md-3"></span> <span class="d-none d-md-block">+34 123 456 789</span></a></div>
              </div>
            </div>
          </div>
        </div>

        <nav class="site-navigation position-relative text-right bg-black text-lg-center" role="navigation">
          <div class="container position-relative">

            <div class="site-logo">
              <a [routerLink]="['/']"><img src="assets/images/LOGO.png" alt="" width="190" height="100"></a>
            </div>

              <ul class="site-menu js-clone-nav d-none d-md-block" *ngIf="logged;else userNotLoggedHeader">
                <li class="has-children">
                  <a [routerLink]="['/friendlyMatches']">Amistosos</a>
                  <ul class="dropdown arrow-top">
                    <li><a [routerLink]="['/division', 1]">1ª División</a></li>
                    <li><a [routerLink]="['/division', 2]">2ª División</a></li>
                    <li><a [routerLink]="['/division', 3]">3ª División</a></li>
                    <li><a [routerLink]="['/division', 4]">4ª División</a></li>
                    <li><a [routerLink]="['/division', 5]">5ª División</a></li>
                    <li><a [routerLink]="['/division', 6]">6ª División</a></li>
                  </ul>
                </li>
                <li><a [routerLink]="['/tournaments']">Torneos</a></li>
                <li><a [routerLink]="['/aboutUs']">Conócenos</a></li>
                <li *ngIf="player"><a class="navbar-btn" (click)="goPlayerProfile()">Tu perfil: {{userName}}</a></li>
                <li *ngIf="bussiness"><a class="navbar-btn" (click)="goBussinessProfile()">Tu perfil: {{userName}}</a></li>
                <li *ngIf="admin"><a class="navbar-btn" (click)="goTournamentManagment()">Gestion de torneos</a></li>
                <li *ngIf="logged"><button class="navbar-btn" (click)="logout()">Log Out</button></li>
              </ul>

              <ng-template #userNotLoggedHeader>
                <ul class="site-menu">
                  <li class="has-children">
                    <a [routerLink]="['/friendlyMatches']">Amistosos</a>
                    <ul class="dropdown arrow-top">
                      <li><a [routerLink]="['/division', 1]">1ª División</a></li>
                      <li><a [routerLink]="['/division', 2]">2ª División</a></li>
                      <li><a [routerLink]="['/division', 3]">3ª División</a></li>
                      <li><a [routerLink]="['/division', 4]">4ª División</a></li>
                      <li><a [routerLink]="['/division', 5]">5ª División</a></li>
                      <li><a [routerLink]="['/division', 6]">6ª División</a></li>
                    </ul>
                  </li>
                  <li><a [routerLink]="['/tournaments']">Torneos</a></li>
                  <li><a [routerLink]="['/aboutUs']">Conócenos</a></li>
                  <li><a [routerLink]="['/previousSignUp']" routerLinkActive="router-link-active" >Registrate</a></li>
                  <li><input [(ngModel)]="userName" type="text" name="username" placeholder="Nombre de usuario"/></li>
                  <li><input [(ngModel)]="password" type="password" name="password" placeholder="Contraseña"/></li>
                  <li><button class="navbar-btn" (click)="login(userName,password)">Log in</button></li>
                </ul>
              </ng-template>


          </div>
        </nav>
      </header>
