<div class="site-blocks-cover overlay" style="background-image: url(assets/images/FondoMatch1.png);" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-start">
      <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
        <h1 class="bg-text-line2">PARTIDOS AMISTOSOS</h1>
        <p class="mt-4">ENCUENTRA PAREJAS CON LAS QUE JUGAR UN PARTIDO CERCA DE TI Y PASAR UN BUEN RATO</p>
      </div>
    </div>
  </div>
</div>
<div class="row col-md-12"></div>
<div class="site-blocks-cover overlay" style="background-image: url(assets/images/FondoMatch2.png);" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-start">
      <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
        <h1 class="bg-text-line2">DIVISIONES</h1>
        <p class="mt-4">¡¡ LLEGAN LAS DIVISIONES !!<br/> DESDE AMATEUR HASTA PRO<br/> ALCANZA LA CIMA DEL PADEL</p>
      </div>
    </div>
  </div>
</div>


<div class="site-section feature-blocks-1 margin-top" style="background-color: rgb(224, 198, 198);">
  <div class="container" >
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h1 class="text-black">ESCOGE TU DIVISIÓN Y JUEGA PARTIDOS AMISTOSOS CON GENTE DE TU NIVEL</h1>
        <a (click)="downloadInstructions()" style="color:red;"><u>PULSA AQUÍ PARA DESCARGAR LAS INSTRUCCIONES</u> </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/Division1.png');">
          <div class="text">
            <h2 class="h5 text-white">1ª DIVISIÓN</h2>
            <p>Encuentras las parejas mas TOP cercanas a ti. Ideal para preparar torneos a alto nivel</p>
            <p class="mb-0"><a [routerLink]="['/division/1']" class="btn btn-primary btn-sm px-4 py-2 rounded-0">BUSCAR AMISTOSOS</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="200">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/Division2.png');">
          <div class="text">
            <h2 class="h5 text-white">2ª DIVISIÓN</h2>
            <p>Parejas muy avanzadas. Sigue mejorando con otras parejas que tambien gozan de un alto nivel</p>
            <p class="mb-0"><a [routerLink]="['/division/2']" class="btn btn-primary btn-sm px-4 py-2 rounded-0">BUSCAR AMISTOSOS</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="300">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/Division3.png');">
          <div class="text">
            <h2 class="h5 text-white">3ª DIVISIÓN</h2>
            <p>Parejas que practican un padel de calidad. Intensidad y ambición marcan esta categoria</p>
            <p class="mb-0"><a [routerLink]="['/division/3']" class="btn btn-primary btn-sm px-4 py-2 rounded-0">BUSCAR AMISTOSOS</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">

    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/Division4.png');">
          <div class="text">
            <h2 class="h5 text-white">4ª DIVISIÓN</h2>
            <p>Parejas con nivel medio. Ideal para seguir mejorando y encontrar partidos intensos.</p>
            <p class="mb-0"><a [routerLink]="['/division/4']" class="btn btn-primary btn-sm px-4 py-2 rounded-0">BUSCAR AMISTOSOS</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="200">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/Division5.png');">
          <div class="text">
            <h2 class="h5 text-white">5ª DIVISIÓN</h2>
            <p>Parejas que han empezado hace poco pero ya saben 'pegarle' a la bola</p>
            <p class="mb-0"><a [routerLink]="['/division/5']" class="btn btn-primary btn-sm px-4 py-2 rounded-0">BUSCAR AMISTOSOS</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="300">
        <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/Division6.png');">
          <div class="text">
            <h2 class="h5 text-white">6ª DIVISIÓN</h2>
            <p>Parejas que acaban de empezar y quieren disfrutar con gente de su mismo nivel</p>
            <p class="mb-0"><a [routerLink]="['/division/6']" class="btn btn-primary btn-sm px-4 py-2 rounded-0">BUSCAR AMISTOSOS</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
